$szurke: #202327;
$lila: #7856ff;

.navbar {
  background-color: black;
  font-size: 14pt;
  height: 65px;
}

.form-control{
  caret-color: $lila;
  background: $szurke;
  height: 50px;
  border: 0;
  color: white;
  border-radius: 25px 0px 0px 25px;
}


.btn{
  height: 50px;
  width: 50px;
  border-radius: 0px 25px 25px 0px;
  background: $szurke;
  border: none;
  color: white;
}
.btn:hover{
  background: $lila;
}