$szurke: #202327;
$lila: #7856ff;

.navbar {
  background-color: black;
  font-size:14pt;
  height: 80px;
}

.searchbar {
    margin: 0 auto 0 auto;
  background-color: $szurke;
  border-radius: 50px;
  width: max-content;
  padding-left: 10px;
}

.search_input {
  color: white;
  width: 140px;
  float: left;
  box-sizing:content-box;
  height: 50px;
  border: 0;
  outline: 0;
  background: none;
  caret-color: transparent;
  caret-color: $lila;
}

.searchbar:hover > .search_icon {
    background: $lila;
}

.search_input:focus {
  $alma: true;
}

.search_icon {
    float: right;
  margin-left: 10px;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  text-decoration: none;
}
