<nav class="navbar navbar-expand-sm  sticky-top">
  <span class="navbar-text p-2 text-white">Menu</span>
  <button
    class="navbar-toggler navbar-light"
    type="button"
    data-toggle="collapse"
    data-target="#collapsibleNavbar"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <!-- A navigációs menü 1. opciója. -->
      <li class="nav-item">
        <a class="nav-link" href="main.html">Main</a>
      </li>
      <!-- A navigációs menü 2. opciója. -->
      <li class="nav-item">
        <a class="nav-link" href="login.html">Login</a>
      </li>
      <!-- A navigációs menü 3. opciója. -->
      <li class="nav-item">
        <a class="nav-link" href="Register.html">Register</a>
      </li>
      <!-- A navigációs menü 3. opciója. -->
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbardrop"
          data-toggle="dropdown"
          >Menu 4</a
        >
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Menu 4.1</a>
          <a class="dropdown-item" href="#">Menu 4.2</a>
          <a class="dropdown-item" href="#">Menu 4.3</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
