$lila: #7856FF;

a:visited,a:link,a:active{
    background-color: black;
    color: white;
}

.navbar-toggler{
    background-color: $lila;
}

.navbar{
    background-color: $lila;
}

a:hover{
    background-color: $lila;
    color: black;
}

.dropdown-menu{
    background-color: black;
    a:hover{
        background-color: $lila;
        color: black;
    }
}