<div class="card">
  <!-- 8. material expansion-panel-->
  <mat-accordion>
    <mat-expansion-panel
      class="exp"
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = false"
    >
      <mat-expansion-panel-header>
        <mat-panel-title class="exptitle"> Topics for you </mat-panel-title>
        <mat-panel-description class="exptip">Tips: {{panelOpenState ? 'open' : 'closed'}} </mat-panel-description>
      </mat-expansion-panel-header>
      <a class="element" href="element">F5 ha sok a duplikált tweet!</a><br />
      <a class="element" href="element"
        >Törlés után töltsd újra az oldalt ha bugos!</a
      ><br />
      <a class="element" href="element"
        >A profilodon csak saját tweetjeid látod!</a
      ><br />
      
    </mat-expansion-panel>
  </mat-accordion>
</div>
