$szurke: #16181C;
$vilagosszurke: #1D1F23;

.card{
    background-color: $szurke;
    font-weight: bold;
    border-radius: 25px;
    padding: 25px 0px 25px 0px;
    margin: 0px 50px 0px 50px;
}
.title{
    font-size: 18pt;
    padding: 15px 15px 15px 15px;
}
.exp{
    background-color:$szurke;
    box-shadow: none;

}
.exptitle{
    color: whitesmoke;
}
.exptip{
    color: gray;
}

.element{
        background-color: $szurke;
        color: white;
        padding: 20px 10px 20px 10px;
        text-decoration: none;
        font-size: 14pt;
        display: block;
}
.element:hover{
    background-color: $vilagosszurke;
}
