<div fxLayout="row" fxFlex fxLayoutAlign="center center">
  <!-- 1. Angular Form-->
  <form class="login" [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="image"><img src="../../../assets/image/logo.png" /></div>
    <h3>Login</h3>
    <!-- 1. material divider-->
    <mat-divider style="background-color: aliceblue"></mat-divider>
    <!-- 2. material formfield-->
    <mat-form-field appearance="fill">
      <!-- 3. material label-->
      <mat-label>Enter your email</mat-label>
      <!-- 4. material matInput-->
      <input
        matInput
        placeholder="valami@valami.com"
        required
        formControlName="email"
        class="inputborder"
      />
    </mat-form-field>
    <br />
    <mat-form-field appearance="fill">
      <mat-label>Enter your password</mat-label>
      <!-- 1. attribútum direktíva-->
      <input
        matInput
        formControlName="passwd"
        [type]="hide ? 'password' : 'text'"
        #passwd
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <!-- 5. material icon-->
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
      <!-- 6. material hint-->
      <mat-hint>{{ passwd.value?.length || 0 }}/10</mat-hint>
    </mat-form-field>

    <mat-divider style="background-color: aliceblue"></mat-divider>

    <!-- 7. material ripple-->
    <div matRipple [matRippleColor]="'whitesmoke'" class="rippleclass">
      <!-- 8. material tooltip-->
      <input
        matTooltip="Login button"
        type="submit"
        class="btnSubmit"
        value="Login"
      />
    </div>
    <div>
      Don't have an account?
      <a [routerLink]="'/register'" class="btnForgetPwd registerlink"
        >Register</a
      >
    </div>
    <br />
    <div><a href="forget" class="btnForgetPwd">Forget Password?</a></div>
  </form>
</div>
