<div fxLayout="row" fxFlex fxLayoutAlign="center center">
  <form class="login" [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="image"><img src="../../../assets/image/logo.png" /></div>
    <h3>Login</h3>

    <label>E-mail:</label><br />
    <input
      type="text"
      class="form-control"
      placeholder="Email"
      value=""
      formControlName="email"
    /><br />
    <label>Password:</label><br />
    <input
      type="password"
      class="form-control"
      placeholder="Password"
      value=""
      formControlName="passwd"
    />

    <input type="submit" class="btnSubmit" value="Login" />

    <label for="formGroupExampleInput">Don't have an account?</label>
    <a [routerLink]="'/register'" class="btnForgetPwd registerlink">Register</a>
    <br />
    <a href="forget" class="btnForgetPwd">Forget Password?</a>
  </form>
</div>
