<div class="container-fluid">
  <div class="row rowmargin">
    <div class="col-sm-1 col-md-3 col-lg-4"></div>
    <div class="col-sm-10 col-md-6 col-lg-4">
      <form class="register">
        <div class="image"><img src="../../../assets/image/logo.png" /></div>
        <h3>Register</h3>

        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="formGroupExampleInput">Username:</label>
              <input
                type="text"
                class="form-control"
                placeholder="Username"
              />
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="formGroupExampleInput">User @:</label>
              <input type="text" class="form-control" placeholder="@User" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
                <label for="formGroupExampleInput">E-mail:</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="E-mail"
                />
              </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
                <label for="formGroupExampleInput">Password:</label>
                <input
                  type="password"
                  class="form-control"
                  placeholder="Password"
                />
              </div>
          </div>
          <div class="col">
            <div class="form-group">
                <label for="formGroupExampleInput">Password Again:</label>
                <input
                  type="password"
                  class="form-control"
                  placeholder="Password Again"
                />
              </div>
          </div>
        </div>

        <input type="submit" class="btnSubmit" value="Register" />
      
        <div class="form-group floatright">
          <label for="formGroupExampleInput">Already have an account?</label>
          <a [routerLink]="'/login'" class="btnForgetPwd">Log in</a>
        </div>

      </form>
    </div>
    <div class="col-sm-1 col-md-3 col-lg-4"></div>
  </div>
</div>
