<div fxLayout="row" fxFlex fxLayoutAlign="center center">
<form class="register" [formGroup]="registerForm" (ngSubmit)="register()">
  <div class="image"><img src="../../../assets/image/logo.png" /></div>
  <h3>Register</h3>

  <label>Username:</label><br>
  <input
    type="text"
    class="form-control"
    placeholder="Username"
    formControlName="username"
  /><br>

  <label>User @:</label><br>
  <input
    type="text"
    class="form-control"
    placeholder="@User"
    formControlName="userat"
  /><br>

  <label>E-mail:</label><br>
  <input
    type="text"
    class="form-control"
    placeholder="E-mail"
    formControlName="email"
  /><br>

  <label>Password:</label><br>
  <input
    type="password"
    class="form-control"
    placeholder="Password"
    formControlName="passwd"
  /><br>

  <label>Comfirm Password:</label><br>
  <input
    type="password"
    class="form-control"
    placeholder="Password Again"
    formControlName="passwd_comfirm"
  />

  <input type="submit" class="btnSubmit" value="Register" />

    <label>Already have an account?</label>
    <a [routerLink]="'/login'" class="btnForgetPwd">Log in</a>
</form>
</div>