<div class="card" >
  <table>
    <tr>
      <td class="leftcol">
        <div class="image">
          <a [routerLink]="'/profile'"
            ><img src="../../../assets/image/kep.jpg"
          /></a>
        </div>
      </td>
      <td colspan="2">
        <a [routerLink]="'/profile'" class="name" id="name"></a>
      </td>
    </tr>
    <tr>
      <td></td>
      <td colspan="2">
        <div class="text" id="text"></div>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <div class="like"><a>Like</a></div>
      </td>
      <td>
        <div class="comment"><a>Comment</a></div>
      </td>
    </tr>
  </table>
</div>
