<a class="card" href="opened">
  <table>
    <tr>
      <td><div class="image"><a href="profile"><img src="../../../assets/image/kep.jpg" /></a></div></td>
      <td colspan="2"><a href="profile" class="name">Tibi</a></td>
    </tr>
    <tr>
      <td></td>
      <td colspan="2">
        <div class="text">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book.
        </div>
      </td>
    </tr>
    <tr>
      <td></td>
      <td><div class="like"><a href="liked">Like</a></div></td>
      <td><div class="comment"><a href="commented">Comment</a></div></td>
    </tr>
  </table>
</a>
