$szurke: #202327;
$lila: #7856ff;


.navbar {
    background-color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 70px;
  }
  
  .navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    background-color: black;
    height: 100%;
    text-align: center;
    padding:15px;
  }
  
  .navbar a:hover {
    background: $lila;
  }
