.sticky{
    position: -webkit-sticky;
    position: sticky;
    top: 30px;
    font-size: 20px;
    height: auto;
    height: fit-content;
}

.sticky-top{
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
}


