<div
  fxLayout="column"
  fxHide.sm
  fxHide.xs
  fxFlex.gt-sm="30%"
  fxFlex.gt-md="20%"
  class="sticky"
>
  <app-leftmenu></app-leftmenu>
</div>

<div fxLayout="column" fxFlex.gt-sm="70%" fxFlex.gt-md="50%">
  <app-toptitle class="sticky-top"></app-toptitle>
  <app-postcard></app-postcard>
<!-- 1. struktúrális direktíva-->
  <div class="card" *ngFor="let n of asd">
    <table>
      <tr>
        <td class="leftcol">
          <div class="image">
            <a [routerLink]="'/profile'"
              ><img src="../../../assets/image/pfp.png"
            /></a>
          </div>
        </td>
        <td colspan="2">
          <a [routerLink]="'/profile'" class="name" id="name">{{
            n.username
          }}</a>
        </td>
      </tr>
      <tr>
        <td></td>
        <td colspan="2">
          <div class="text" id="text">{{ n.text }}</div>
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <!-- 2. attribútum direktíva-->
          <div
            (click)="condition = !condition"
            [ngClass]="{ like: condition, liked: !condition }"
          >
            <a>{{ condition ? "Like" : "Liked" }}</a>
          </div>
        </td>
        <td>
          <div class="comment"><a>Comment</a></div>
        </td>
      </tr>
    </table>
  </div>
</div>

<div
  fxLayout="column"
  fxHide.sm
  fxHide.xs
  fxHide.md
  fxFlex.gt-md="30%"
  class="sticky"
>
  <app-rightbox></app-rightbox>
</div>
