$szurke: #080808;
$vilagosszurke: #333639;
$btn_szurke: #6e6e6e;

a:link,
a:visited,
a:active {
  text-decoration: none;
  color: white;
}

a:hover {
  background-color: $szurke;
  text-decoration: none;
  color: white;
}

.card {
  background-color: black;
  color: white;
  margin-bottom: 5px;
  border: 2px solid $vilagosszurke;
  border-radius: 0px 0px 20px 20px;
  height: fit-content;

}

#profilepicture {
  height: 100px;
  width: 100px;
  border-radius: 50px;
}

.profileimage {
  height: 100px;
  width: 100px;
  border-radius: 50px;
  position:absolute;
  top: 270px;
  z-index: 1;
  padding-left: 10px;
}
.profileimage:hover {
  box-shadow: 3px 4px 3px 1px black;
  -webkit-filter: brightness(90%);
}

#bannerpicture {
  width: 100%;
  height: 250px;
}

.content {
  margin: 10px;
  margin-top: 50px;
  padding: 10px;
}


.bannerimage {
  margin-bottom: 10px;
}

.bannerimage:hover {
    margin-bottom: 10px;
    -webkit-filter: brightness(90%);
  }

.username {
  font-size: 16pt;
  font-weight: bold;
}
.usertag {
  font-size: 12pt;
  color: #474747;
}
.bio {
  margin-top: 10px;
  font-size: 14pt;
}

.update{
  color: white;
  background-color: #333639;
  border: none;
  display: block;
  float: right;

}
