<div class="card">
  <div class="bannerimage">
    <img src="../../../assets/image/banner.jpg" id="bannerpicture" />
  </div>
  <div class="profileimage">
    <a href="../../../assets/image/pfp.png"
      ><img id="profilepicture" src="../../../assets/image/pfp.png"
    /></a>
  </div>

  <div class="content">
    <div class="username" id="nev"></div>

    <div class="usertag" id="tag"></div>
    <div class="bio" id="bio"></div>
    <div>
      <input type="text" placeholder="edit bio" id="editbio" />
    </div>
    <div class="post">
      <input type="button" (click)="change()" value="{{ edittext }}" />
    </div>
  </div>
</div>
