<div class="card" href="#opened">
  <div class="bannerimage">
    <a href="../../../assets/image/banner.jpg"
      ><img src="../../../assets/image/banner.jpg" id="bannerpicture"
    /></a>
  </div>
  <div class="profileimage">
    <a href="../../../assets/image/kep.jpg"
      ><img src="../../../assets/image/kep.jpg" id="profilepicture"
    /></a>
  </div>

  <div class="content">

    <div class="username">Vajda Tibor</div>

    <div class="usertag">@tibi1210</div>

    <div class="bio">
      Twitter entrepreneur / wanna be computer scientist / master of none
    </div>
  </div>
</div>
