a:visited,a:link,a:active,a:hover{
    background-color: black;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size:18pt;
}

.navbar{
    background-color: rgb(0, 0, 0,0.8);
    padding: 10px;
    font-size: larger;
    height: 65px;
    backdrop-filter: blur(5px);
}
