a:visited,a:link,a:active,a:hover{
    background-color: black;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: larger;
}

.navbar{
    background-color: rgb(0, 0, 0,0.8);
    padding: 10px;
}
