<form class="card" [formGroup]="postForm" (ngSubmit)="post()">
  <table>
    <tr>
      <td colspan="3"></td>
    </tr>
    <tr>
      <td class="leftcol">
        <div class="image">
          <a [routerLink]="'/profile'"
            ><img src="../../../assets/image/kep.jpg"
          /></a>
        </div>
      </td>
      <td colspan="2" class="asd">
        <div class="grow-wrap">
          <textarea
            maxlength="250"
            rows="1"
            placeholder="What's happening?"
            formControlName="text"
            onInput="this.parentNode.dataset.replicatedValue = this.value"
          ></textarea>
        </div>
      </td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td>
        <div class="post"><input type="submit" value="Post" /></div>
      </td>
    </tr>
  </table>
</form>
