<form>
<a class="card" href="opened">
    <table>
      <tr>
        <td class="leftcol"><div class="image"><a [routerLink]="'/profile'"><img src="../../../assets/image/kep.jpg" /></a></div></td>
        <td colspan="2"><a [routerLink]="'/profile'" class="name">Tibi</a></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="2">
          <div class="text">
            <input type="text" >
          </div>
        </td>
      </tr>
      <tr>
        <td></td>
        <td><div class="like"><a href="liked">Like</a></div></td>
        <td><div class="comment"><a href="commented">Comment</a></div></td>
      </tr>
    </table>
  </a>
  </form>
  