$szurke: #080808;
$vilagosszurke: #333639;
$btn_szurke: #6e6e6e;
$lila: #7856ff;

table {
  width: 100%;
  margin-top: 20px;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
  color: white;
}

a:hover {
  background-color: $szurke;
  text-decoration: none;
  color: white;
}

.card {
  background-color: black;
  color: white;
  margin-bottom: 5px;
  border: 2px solid $vilagosszurke;
  border-radius: 20px;
  padding: 10px;
}

img {
  height: 50px;
  width: 50px;
  border-radius: 50px;
}

.image {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  a {
    background-color: inherit;
  }
}

.leftcol {
  width: 50px;
}

.image:hover {
  box-shadow: 3px 4px 3px 1px black;
  -webkit-filter: brightness(90%);
}

.name {
  font-weight: bold;
  margin-left: 10px;
}
.name:hover {
  font-weight: bold;
  text-decoration: underline;
}

.grow-wrap {
  display: grid;
  margin-bottom: 10px;
  padding: 10px;
  padding-top: 0;
  width: 90%;
}

.grow-wrap::after {
  content: attr(data-replicated-value) " ";
  white-space: pre-wrap;
  visibility: hidden;
}
.grow-wrap > textarea {
  resize: none;
  overflow: hidden;
}

.grow-wrap > textarea,
.grow-wrap::after {
  border: none;
  color: whitesmoke;
  caret-color: $lila;
  border-bottom: 2px solid $lila;
  font-size: 16pt;
  background-color: inherit;
  line-height: 16pt;
  margin-top: 10px;
  grid-area: 1 / 1 / 2 / 2;
}


.autocomplete {
  background-color: black;
  color: whitesmoke;
  
}
.autocomplete:hover {
  background-color: $lila;
  color: black;
}


.post {
  float: right;
  width: max-content;
  border-radius: 50px;
  text-align: center;

  input {
    padding: 5px 30px 5px 30px;
    border: none;
    color: whitesmoke;
    border-radius: 50px;
    background-color: $lila;
    text-shadow: 2px 2px 4px black;
  }
  input:hover {
    background-color: #5d34ff;
  }
}
